package pages

templ Home() {
	<html>
		<head>
			<title>Golden Stack</title>
			<link rel="stylesheet" href={ assets.Path("styles.css") }/>
		</head>
		<body>
			<h1>Welcome to Golden Stack</h1>
		</body>
	</html>
}
